@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Spartan:wght@100..900&display=swap');


:root {
    --header-height : 4rem;


    --first-color: hsl(176, 88% , 27%);
    --first-color-alt: hsl(129, 44% , 94%);
    --second-color: hsl(34, 94%, 87%);
    --title-color: hsl(0, 0%, 13%);
    --text-color: hsl(154,13%,32%);
    --text-color-light: hsl(60,1%,56%);
    --body-color: hsl(0,0%,100%);
    --container-color: hsl(0,0%,93%);
    --border-color: hsl(129,36%,85%);
    --border-color-alt: hsl(113,15%,90%);



    --body-font: 'Lato' , sans-serif;
    --second-font: 'Spartan', sans-serif;
    --big-font-size: 3.5rem;
    --h1-font-size: 2.75rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.75rem;
    --h4-font-size: 1.375rem;
    --large-font-size: 1.125rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .6875rem;


    --weight-400: 400;
    --weight-700: 700;


    --transition: cubic-bezier(0,0,.05,1);

}

@media screen and (max-width: 1200px) {
    :root {
        --big-font-size: 2.25rem;
        --h1-font-size: 2rem;
        --h2-font-size: 1.375rem;
        --h3-font-size: 1.25rem;
        --h4-font-size: 1.125rem;
        --large-font-size: 1rem;
        --normal-font-size: .9375rem;
        --small-font-size: .8125rem;
        --smaller-font-size: .6875rem;
        --tiny-font-size: .625rem;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
textarea,
body {
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--weight-400);
}

body {
    background-color: var(--body-color);
}

h1,
h2,
h3,
h4 {
    font-family: var(--second-font);
    color: var(--title-color);
    font-weight: var(--weight-700);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.5rem;
}

img {
    max-width: 100%;
}

button,
textarea,
input {
    background-color: transparent;
    border: none;
    outline: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

/* ////////////////////////////////////////////// */


.container {
    max-width: 1320px;
    margin-inline: auto;
    padding-inline: .75rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 2rem;
}

.section-lg {
    padding-block: 4rem;
}

.section-title {
    font-size: var(--h4-font-size);
    margin-bottom: 1.5rem;
}

.section-title span {
    color: var(--first-color);
}

.form-input {
    border: 1px solid var(--border-color-alt);
    padding-inline: 1rem;
    height: 45px;
    border-radius: .25rem;
    font-size: var(--small-font-size);
}

.flex {
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.new-price {
    color: var(--first-color);
    font-weight: var(--weight-700);
}

.old-price {
    color: var(--text-color-light);
    font-size: var(--small-font-size);
    text-decoration: line-through;
}

.form {
    row-gap: 1rem;
}

.form-group {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.textarea {
    height: 200px;
    padding-block: 1rem;
    resize: none;
}

.header-top {
    background-color: var(--first-color-alt);
    border-bottom: 1px solid var(--first-color);
    padding-block: .875rem;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-contact {
    display: flex;
    gap: 2rem;
}

.header-contact span,
.header-alert-news,
.header-top-action {
    font-size: var(--small-font-size);
}

.header-alert-news {
    color: var(--text-color-light);
    font-weight: var(--weight-700);
}

.header-top-action {
    color: var(--text-color);
}


.nav,
.nav-menu,
.nav-list,
.header-user-action {
    display: flex;
    align-items: center;
}

.nav {
    height: calc(var(--header-height) + 2.5rem);
    justify-content: space-between;
    column-gap: 1rem;
}

.nav-logo-img {
    width: 160px;
}

.nav-menu {
    flex-grow: 1;
    justify-content: space-between;
    margin-inline: 1.5rem;
}

.nav-list {
    column-gap: 2.5rem;
}

.nav-link {
    color: var(--title-color);
    font-weight: var(--weight-700);
    transition: all .2s var(--transition);
}


.header-search {
    width: 340px;
    position: relative;
}

.header-search .form-input {
    width: 100%;
}

.search-btn {
    position: absolute;
    top: 24%;
    right: 1.25rem ;
    cursor: pointer;
}

.header-user-action {
    column-gap: 1.25rem;
}

.header-action-btn {
    position: relative;
}

.header-action-btn img {
    width: 30px;
}

.header-action-btn .count {
    position: absolute;
    top: -.625rem;
    right: -.625rem;
    background-color: var(--first-color);
    color: var(--body-color);
    height: 18px;
    width: 18px;
    line-height: 18px;
    border-radius: 50%;
    text-align: center ;
    font-size: var(--tiny-font-size);
}

.nav-menu-top,
.nav-toggle {
    display: none;
}

.active-link,
.nav-link:hover {
    color: var(--first-color);
}


/* /////////////////////////////////////// */

.home-container {
    grid-template-columns: 5fr 7fr;
    align-items: center;
}

.home-subtitle,
.home-description {
    font-size: var(--large-font-size);
}

.home-subtitle {
    font-family: var(--second-font);
    font-weight: var(--weight-700);
    margin-bottom: 1rem;
    display: block;
}

.home-title {
    font-size: var(--h1-font-size);
    font-weight: var(--weight-700);
    line-height: 1.4;
}

.home-title span {
    color: var(--first-color);
    font-size: var(--big-font-size);
}

.home-description {
    margin-block: .5rem 2rem;
}

.home-img {
    justify-self: flex-end;
}

.btn {
    display: inline-block;
    background-color: var(--first-color);
    border: 2px solid var(--first-color);
    color: var(--body-color);
    padding-inline: 1.75rem;
    height: 49px;
    line-height: 49px;
    border-radius: .25rem;
    font-family: var(--second-font);
    font-size: var(--small-font-size);
    font-weight: var(--weight-700);
    transition: all .4s var(--transition);
    cursor: pointer;
}

.btn:hover {
    background-color: transparent;
    color: var(--first-color);
}

.btn-md {
    font-family: var(--body-font);
    height: 45px;
    line-height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-sm {
    font-family: var(--body-font);
    height: 40px;
    line-height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* /////////////////////////////// */

.categories {
    overflow: hidden;
}

.category-item {
    text-align: center;
    border: 1px solid var(--border-color);
    padding: .625rem .625rem 1.25rem;
    border-radius: 1.25rem;
}

.category-img {
    border-radius: .75rem;
    margin-bottom: 1.25rem;
}

.category-title {
    color: var(--text-color);
    font-size: var(--small-font-size);
}

.swiper {
    overflow: initial;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    content: '';
}

.swiper-button-next,
.swiper-button-prev {
    top: -1.875rem;
    background-color: var(--first-color-alt);
    border: 1px solid var(--border-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: var(--first-color);
    font-size: 1.9rem;
}

.swiper-button-prev {
    left: initial;
    right: 2.5rem;
}

.swiper-button-next {
    right: 0;
}

/* ////////////////////////////// */


.tab-btns {
    display: flex;
    flex-wrap: wrap;
    gap: .75rem;
    margin-bottom: 2rem;
}

.tab-btn {
    background-color: var(--container-color);
    color: var(--title-color);
    padding: 1rem 1.25rem .875rem;
    border-radius: .25rem;
    font-family: var(--second-font);
    font-size: var(--small-font-size);
    font-weight: var(--weight-700);
    cursor: pointer;
}

.products-container {
    grid-template-columns: repeat(4,1fr);
}

.product-item {
    border: 1px solid var(--border-color);
    border-radius: 1.5rem;
    transition: all .2s var(--transition);
}

.product-banner {
    padding: .625rem .75rem .75rem;
}

.product-banner,
.product-images {
    position: relative;
}

.product-images {
    display: block;
    overflow: hidden;
    border-radius: 1.25rem;
}

.product-img {
    vertical-align: middle;
    transition: all 1.5s var(--transition);
}

.product-item:hover .product-img {
    transform: scale(1.1);
}

.product-img.hover {
    position: absolute;
    top: 0;
    left: 0;
}

.product-actions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    column-gap: .5rem;
    transition: all .2s var(--transition);
}

.action-btn {
    width: 40px;
    height: 40px;
    line-height: 42px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--first-color-alt);
    border: 1px solid var(--border-color);
    color: var(--text-color);
    font-size: 1.3rem;
    position: relative;
}

.action-btn::before,
.action-btn::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
}

.action-btn::before {
    content: '';
    top: -2px;
    border: .5rem solid transparent;
    border-top-color: var(--first-color);
}

.action-btn::after {
    content: attr(aria-label);
    bottom: 100%;
    background-color: var(--first-color);
    color: var(--body-color);
    font-size: var(--tiny-font-size);
    white-space: nowrap;
    padding-inline: .625rem;
    border-radius: .25rem;
    line-height: 2.58;
}


.product-badge {
    position: absolute;
    left: 1.25rem;
    top: 1.25rem;
    background-color: var(--first-color);
    color: var(--body-color);
    padding: .25rem .625rem;
    border-radius: 2.5rem;
    font-size: var(--tiny-font-size);
}

.product-badge.light-pink {
    background-color: hsl(341,100%,73%);
}
.product-badge.light-green {
    background-color: hsl(155,20%,67%);
}
.product-badge.light-orange {
    background-color: hsl(24,100%,73%);
}
.product-badge.light-blue {
    background-color: hsl(202,53%,76%);
}


.product-content {
    padding: 0 1.25rem 1.125rem;
    position: relative;
}

.product-category {
    color: var(--text-color-light);
    font-size: var(--smaller-font-size);
}

.product-title {
    font-size: var(--normal-font-size);
    margin-block: .75rem .5rem;
}

.product-rating {
    color: hsl(42,100%,50%);
    font-size: var(--smaller-font-size);
    margin-bottom: .75rem;
}

.product-price .new-price {
    font-size: var(--large-font-size);
}

.cart-btn {
    position: absolute;
    bottom: 1.6rem;
    right: 1.25rem;
}


.tab-btn.active-tab {
    color: var(--first-color);
    background-color: var(--second-color);
}


.tab-item:not(.active-tab) {
    display: none;
}


.product-img.hover,
.product-actions,
.action-btn::after,
.action-btn::before,
.product-item:hover .product-img.default{
    opacity: 0;
}

.product-item:hover {
    box-shadow: 0 0 10px hsla(0,0%,0%,.1);
}

.product-item:hover .product-img.hover,
.product-item:hover .product-actions,
.action-btn:hover::before,
.action-btn:hover::after {
    opacity: 1;
}

.action-btn:hover::before,
.action-btn:hover::after {
    transform: translateX(-50%) translateY(-.5rem);
}

.action-btn:hover {
    background-color: var(--first-color);
    border-color: var(--first-color);
    color: var(--body-color);
}


/* ////////////////////////////////////// */

.deals-container {
    grid-template-columns: repeat(2,1fr);
}

.deals-item:nth-child(1) {
    background-image: url(../img/deals-1.jpg);
}
.deals-item:nth-child(2) {
    background-image: url(../img/deals-2.png);
}

.deals-item {
    padding: 3rem;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.deals-brand {
    color: var(--first-color);
    font-size: var(--h3-font-size);
    margin-bottom: .25rem;
}

.deals-category {
    font-family: var(--second-font);
    font-size: var(--small-font-size);
}

.deals-title {
    max-width: 240px;
    font-size: var(--large-font-size);
    font-weight: var(--weight-400);
    line-height: 1.3;
}

.deals-price .new-price,
.deals-price .old-price {
    font-size: var(--large-font-size);
}

.deals-price .new-price {
    color: hsl(352,100%, 60%);
}

.deals-countdown-text {
    margin-bottom: .25rem;
}

.countdown {
    display: flex;
    column-gap: 1.5rem;
}

.countdown-amount {
    position: relative;
}

.countdown-amount::after {
    content: ':';
    color: var(--title-color);
    font-size: var(--large-font-size);
    position: absolute;
    right: -25%;
    top: 20%;
}

.countdown-period {
    background-color: var(--first-color);
    color: var(--body-color);
    width: 60px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: .25rem;
    font-size: var(--large-font-size);
    font-weight: var(--weight-700);
    margin-bottom: .5rem;
}

.unit {
    font-size: var(--small-font-size);
    text-align: center;
    display: block;
}

.deals-btn .btn {
    background-color: transparent;
    color: var(--first-color);
}

/* /////////////////////////////// */

.new-arrivals {
    overflow: hidden;
}

.showcase-container {
    grid-template-columns: repeat(4,1fr);
}

.showcase-wrapper .section-title {
    font-size: var(--normal-font-size);
    border-bottom: 1px solid var(--border-color-alt);
    padding-bottom: .75rem;
    margin-bottom: 2rem;
    position: relative;
}

.showcase-wrapper .section-title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1.3px;
    width: 50px;
    height: 2px;
    background-color: var(--first-color);
}

.showcase-item {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.showcase-item:not(:last-child) {
    margin-bottom: 1.5rem;
}

.showcase-img {
    width: 86px;
}

.showcase-content {
    width: calc(100% - 110px);
}

.showcase-title {
    font-size: var(--small-font-size);
    font-weight: var(--weight-700);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: .5rem;
}


/* ///////////////////////////////////////////// */

.newsletter {
    background-color: hsl(166,23%,74%);
}

.home-newsletter {
    margin-top: 1rem;
}

.newsletter-container {
    grid-template-columns: repeat(2, 3.5fr) 5fr;
    align-items: center;
    column-gap: 3rem;
}

.newsletter-title {
    column-gap: 1rem;
    font-size: var(--large-font-size);
}

.newsletter-icon {
    width: 40px;
}

.newsletter-description {
    color: var(--title-color);
    font-family: var(--second-font);
    font-size: var(--small-font-size);
    font-weight: var(--weight-700);
    text-align: center;
}

.newsletter-form {
    display: flex;
}

.newsletter-input,
.newsletter-btn {
    font-size: var(--small-font-size);
}

.newsletter-input {
    background-color: var(--body-color);
    padding-inline: 1.25rem;
    width: 100%;
    height: 48px;
}

.newsletter-btn {
    background-color: var(--title-color);
    color: var(--body-color);
    padding-inline: 2rem;
    border-radius: 0 .25rem .25rem 0;
    font-family: var(--second-font);
    font-weight: var(--weight-400);
    letter-spacing: .5px;
    cursor: pointer;
    transition: all .3s var(--transition);
}

.newsletter-btn:hover {
    background-color: var(--first-color);
}

/* ////////////////////////////////////////// */


.footer-container {
    grid-template-columns: 4.5fr repeat(2,2fr) 3.5fr;
    padding-block: 2.5rem;
}

.footer-logo-img {
   width: 160px; 
}

.footer-subtitle {
    color: var(--text-color-light);
    font-size: var(--small-font-size);
    margin-block: 1.25rem .625rem;
}

.footer-description {
    margin-bottom: .25rem;
}

.footer-description span {
    font-weight: var(--weight-700);
}

.footer-social .footer-subtitle {
    margin-top: 1.875rem;
}

.footer-social-links {
    column-gap: .25rem;
}

.footer-social-icon {
    width: 20px;
    opacity: .7;
}

.footer-title {
    font-size: var(--large-font-size);
    margin-block: 1rem 1.25rem;
}

.footer-link {
    color: var(--text-color);
    font-weight: 600;
    font-size: var(--small-font-size);
    margin-bottom: 1rem;
    display: block;
    transition: all .3s var(--transition);
}

.footer-link:hover {
    color: var(--first-color);
    margin-left: .25rem;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-block: 1.25rem;
    border-top: 1px solid var(--border-color-alt);
}

.copyright,
.designer {
    color: var(--text-color-light);
    font-size: var(--second-font);
}



/* ///////////////////////////////////////////////////// */
/* /////////////// shop ///////////////////// */



.breadcrumb {
    background-color: var(--container-color);
    padding-block: 1.5rem;
}

.breadcrumb-list {
    column-gap: .75rem;
}

.breadcrumb-link {
    color: var(--text-color);
    font-size: var(--small-font-size);
}

/* ///////////////////////////////////// */

.total-products {
    margin-bottom: 2.5rem;
}

.total-products span {
    color: var(--first-color);
    font-weight: var(--weight-700);
    margin-inline: .3rem;
}

.pagination {
    display: flex;
    column-gap: .625rem;
    margin-top: 2.75rem;
}

.pagination-link {
    display: inline-block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border-radius: .25rem;
    color: var(--text-color);
    font-size: var(--small-font-size);
    font-weight: var(--weight-700);
    transition: all .5s var(--transition);
}

.pagination-link.active,
.pagination-link:hover {
    background-color: var(--first-color);
    color: var(--body-color);
}

.pagination-link.icon {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

/* ////////////////////////////////////////// */


.details-container {
    grid-template-columns: 5.5fr 6.5fr;
}

.details-img {
    margin-bottom: .5rem;
}

.details-small-images {
    grid-template-columns: repeat(4,1fr);
    column-gap: .625rem;
}

.details-small-img {
    cursor: pointer;
}

.details-title {
    font-size: var(--h2-font-size);
}

.details-brand {
    font-size: var(--small-font-size);
    margin-block: 1rem;
    font-weight: var(--weight-700);
}

.details-brand span {
    color: var(--first-color);
    font-weight: var(--weight-700);
}

.details-price {
    border-top: 1px solid var(--border-color-alt);
    border-bottom: 1px solid var(--border-color-alt);
    padding-block: 1rem;
    column-gap: 1rem;
}

.details-price .new-price {
    font-size: var(--h2-font-size);
}

.details-price .old-price {
    font-size: var(--normal-font-size);
    font-weight: 500;
}

.short-description{
    margin-block: 1rem 2rem;
}

.list-item,
.meta-list {
    font-size: 1rem;
    margin-bottom: .75rem;
}

.details-color,
.details-size {
    column-gap: .75rem;
}

.details-color {
    margin-block: 2rem 1.5rem;
}

.details-size {
    margin-bottom: 2.5rem;
}

.details-color-title,
.details-size-title {
    font-size: var(--small-font-size);
    font-weight: 600;
}

.color-list,
.size-list {
    display: flex;
    column-gap: .25rem;
}

.color-link {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: block;
}

.size-link {
    border: 1px solid var(--border-color-alt);
    padding: .375rem .75rem .5rem;
    color: var(--text-color);
    font-size: var(--small-font-size);
}

.size-active {
    background-color: var(--first-color);
    color: var(--body-color);
}

.details-action {
    display: flex;
    column-gap: .375rem;
    margin-bottom: 3.25rem;
}

.quantity,
.details-action-btn {
    border: 1px solid var(--border-color-alt);
    font-size: var(--small-font-size);
}

.quantity {
    max-width: 80px;
    padding-block: .5rem;
    padding-inline: 1rem .5rem;
    border-radius: .25rem;
}

.details-action-btn {
    color: var(--text-color);
    line-height: 40px;
    padding-inline: .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: all .3s var(--transition);
}

.details-action-btn:hover {
    background-color: var(--first-color);
    color: var(--body-color);
}

.details-meta {
    border-top: 1px solid var(--border-color-alt);
    padding-top: 1rem;
}


.detail-tabs {
    display: flex;
    column-gap: 1.75rem;
    margin-bottom: 3rem;
}

.detail-tab {
    font-family: var(--second-font);
    font-size: var(--large-font-size);
    font-weight: 600;
    cursor: pointer;
}

.detail-tab.active-tab {
    color: var(--first-color);
}

.details-tab-content:not(.active-tab) {
    display: none;
}

.info-table tr th,
.info-table tr td {
    border: 1px solid var(--border-color-alt);
    padding: .625rem 1.25rem;
}

.info-table tr th {
    font-weight: 500;
    text-align: left;
}

.info-table tr td {
    color: var(--text-color-light);
}

.reviews-container {
    padding-bottom: 3rem;
    row-gap: 1.25rem;
}

.review-single {
    border-bottom: 1px solid var(--border-color-alt);
    padding-bottom: 1.25rem;
    display: flex;
    align-items: flex-start;
    column-gap: 1.5rem;
}

.review-single:last-child {
    padding-bottom: 3rem;
}

.review-img {
    width: 70px;
    border-radius: 50%;
    margin-bottom: .5rem;
}

.review-title {
    font-size: var(--tiny-font-size);
}

.review-data {
    width: calc(100% - 94px);
}

.review-description {
    margin-bottom: .5rem;
}

.review-rating{
    color: hsl(42,100%, 50%);
    margin-bottom: .25rem;
}

.review-rating,
.review-data {
    font-size: var(--small-font-size);
}

.review-form-title {
    font-size: var(--large-font-size);
    margin-bottom: 1rem;
}

.rate-product {
    margin-bottom: 2rem;
    cursor: pointer;
}


/* ////////////////////////////////////////////////////////////// */

.table-container {
    overflow-x: auto;
}

.table {
    table-layout: fixed;
    margin-bottom: 2rem;
}

.table tr {
    border-top: 1px solid var(--border-color-alt);
}

.table tr:last-child {
    border-bottom: 1px solid var(--border-color-alt);
}

.table tr th:nth-child(1),
.table tr td:nth-child(1) {
    width: 216px;
}

.table tr th:nth-child(2),
.table tr td:nth-child(2) {
    width: 400px;
}

.table tr th:nth-child(3),
.table tr td:nth-child(3) {
    width: 108px;
}

.table tr th:nth-child(4),
.table tr td:nth-child(4) {
    width: 220px;
}

.table tr th:nth-child(5),
.table tr td:nth-child(5) {
    width: 200px;
}

.table tr th:nth-child(6),
.table tr td:nth-child(6) {
    width: 152px;
}

.table-img {
    width: 80px;
}

.table tr th,
.table tr td {
    padding: .5rem;
    text-align: center;
}

.table-title,
.table-description,
.table-price,
.table-subtotal,
.table-trash,
.table-stock {
    font-size: var(--small-font-size);
}

.table-title,
.table-stock {
    color: var(--first-color);
}

.table-description {
    max-width: 25px;
    margin-inline: auto;
}

.table-trash {
    color: var(--text-color-light);
    font-size: 1.3rem;
    cursor: pointer;
    transition: all .4s var(--transition);
}

.table-trash:hover {
    color: rgb(182, 11, 11);
}

.cart-actions {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: .75rem;
    margin-top: 1.5rem;
}

.divider {
    position: relative;
    text-align: center;
    margin-block: 3rem;
}

.divider::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    border-top: 2px solid var(--border-color-alt);
}

.divider i {
    color: var(--text-color-light);
    background-color: var(--body-color);
    font-size: 1.25rem;
    padding-inline: 1.25rem;
    position: relative;
    z-index: 10;
}


.cart-group {
    grid-template-columns: repeat(2 , 1fr);
    align-items: center;
}

.cart-group i {
    font-size: 1rem;
    text-align: center;
    vertical-align: middle;
}

.cart-shipping .section-title,
.cart-coupon .section-title,
.cart-total .section-title {
    font-size: var(--large-font-size);
    margin-bottom: 1rem;
}

.cart-coupon {
    margin-top: 3rem;
}

.coupon-form .form-group {
    align-items: center;
}

.cart-total {
    border: 1px solid var(--border-color-alt);
    border-radius: .25rem;
    padding: 1.75rem;
}

.cart-total i {
    font-size: 1.4rem;
}

.cart-total-table {
    margin-bottom: 1rem;
}

.cart-total-table tr td {
    border: 1px solid var(--border-color-alt);
    padding: .75rem .5rem;
    width: 50%;
}

.cart-total-title {
    font-size: var(--small-font-size);
}

.cart-total-price {
    color: var(--first-color);
    font-weight: var(--weight-700);
}

.cart-total .btn {
    display: inline-flex;
}

/* ////////////////////////////////////////////////////// */
/* ///////////////////login-register///////////////////////// */


.login-register-container {
    grid-template-columns: repeat(2 , 1fr);
    align-items: flex-start;
}

.login,
.register {
    border: 1px solid var(--border-color-alt);
    padding: 2rem;
    border-radius: .5rem;
}

/* ///////////////////////////////////////////////////////// */
/* /////////////////////// checkout /////////////////////////// */


.checkout-container {
    grid-template-columns: repeat(2, 1fr);
}

.checkout-group:nth-child(2) {
    border: 1px solid var(--border-color-alt);
    padding: 2rem;
    border-radius: .5rem;
}

.checkout-group .section-title {
    font-size: var(--large-font-size);
}

.checkout-title {
    font-size: var(--large-font-size);
}

.order-table tr th,
.order-table tr td {
    border: 1px solid var(--border-color-alt);
    padding: .5rem;
    text-align: center;
}

.order-table tr th {
    color: var(--title-color);
    font-size: var(--small-font-size);
}

.order-img {
    width: 80px;
}

.order-quantity,
.order-subtitle {
    font-size: var(--small-font-size);
}

.order-grand-total {
    color: var(--first-color);
    font-size: var(--large-font-size);
    font-weight: var(--weight-700);
}

.payment-methods {
    margin-block: 2.5rem 2.75rem;
}

.payment-title {
    margin-bottom: 1.5rem;
}

.payment-option {
    margin-bottom: 1rem;
}

.payment-input {
    accent-color: var(--first-color);
    cursor: pointer;
}

.payment-label {
    font-size: var(--small-font-size);
}


/* ////////////////////////////////////////////////// */
/* //////////////////compare///////////////////// */

.compare-table tr th,
.compare-table tr td {
    padding: .5rem;
    border: 1px solid var(--border-color-alt);
}

.compare-table tr th {
    color: var(--text-color-light);
    font-size: var(--small-font-size);
}

.compare-table tr td {
    text-align: center;
}

.compare-colors {
    justify-content: center;
}


.table-weight,
.table-dimension {
    font-size: var(--small-font-size);
}


.compare-description {
    padding-inline: 1rem;
    text-align: justify;
    letter-spacing: .1px;
}

/* ////////////////////////////////////////// */
/* ///////////////// Account /////////////////// */

.accounts-container {
    grid-template-columns: 4fr 8fr;
}

.accounts-container i {
    font-size: 1.3rem;
}

.accounts-tabs {
    border: 1px solid var(--border-color-alt);
    border-radius: .25rem;
}

.accounts-tab {
    padding: 1rem 2rem;
    color: var(--title-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: .625rem;
    cursor: pointer;
}

.accounts-tab.active-tab {
    background-color: var(--first-color);
    color: var(--body-color);
}

.tab-content:not(:last-child) {
    border-bottom: 1px solid var(--border-color-alt);
}

.tab-content:not(.active-tab) {
    display: none;
}

.tab-content {
    border: 1px solid var(--border-color-alt);
}

.tab-header {
    background-color: var(--container-color);
    border-bottom: 1px solid var(--border-color-alt);
    padding: 1rem;
    font-size: var(--small-font-size);
}

.tab-body {
    padding: 1rem;
}

.placed-order-table tr th:not(:last-child) {
    text-align: left;
}
.placed-order-table tr th {
    color: var(--title-color);
}

.placed-order-table tr th,
.placed-order-table tr td {
    border: 1px solid var(--border-color-alt);
    padding: .5rem;
    font-size: var(--small-font-size);
}

.view-order,
.edit {
    color: var(--first-color);
    font-weight: bolder;
}

.view-order {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.address {
    font-style: normal;
    font-size: var(--small-font-size);
    line-height: 1.5rem;
}

.city {
    margin-bottom: .25rem;
}

.edit {
    font-size: var(--small-font-size);
}

/* ///////////////////////////////////////////////// */

@media screen and (max-width: 1400px) {
    .container {
        max-width: 1140px;
    }

    .products-container,
    .showcase-container {
        grid-template-columns: repeat(3 , 1fr);
    }

    .accounts-container {
        grid-template-columns: 3fr 9fr;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .header-top {
        display: none;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav-menu {
        position: fixed;
        right: -140%;
        top: 0;
        max-width: 400px;
        width: 100%;
        height: 100%;
        padding: 1.25rem 2rem;
        background-color: var(--body-color);
        z-index: 100;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        row-gap: 2rem;
        box-shadow: 0 0 15px hsla(0,0%,0%, .1);
        transition: all .2s var(--transition);
    }

    .show-menu {
        right: -25px;
    }

    .nav-list {
        order: 1;
        flex-direction: column;
        align-items: center;
        row-gap: 1.5rem;
    }

    .nav-link {
        font-size: var(--large-font-size);
    }

    .header-search .form-input {
        border-color: var(--first-color);
    }

    .nav-menu-top,
    .nav-toggle {
        display: flex;
    }

    .nav-menu-top {
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 1.25rem;
    }

    .nav-menu-logo img {
        width: 150px;
    } 

    .nav-close {
        font-size: 1.7rem;
        line-height: 1rem;
    }

    .header-action-btn img {
        width: 21px;
    }

    .home-container {
        grid-template-columns: 5.5fr 6.5fr;
    }

    .countdown {
        column-gap: 1rem;
    }

    .countdown-period {
        width: 36px;
        height: 36px;
        line-height: 36px;
    }

    .countdown-amount::after {
        right: -30%;
        top: 14%;
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: -28px;
        width: 26px;
        height: 26px;
    }

    .swiper-button-prev {
        right: 36px;
    }

    .accounts-tab {
        padding: .75rem 1rem;
    }

    .checkout-group:nth-child(2) {
        padding: 1.5rem;
    }

    .details-brand {
        margin-block: .75rem;
    }

    .details-price {
        padding-block: .75rem;
    }

    .short-description {
        margin-bottom: 1.5rem;
    }

    .details-color {
        margin-block: 1.75rem 1.25rem;
    }
    .details-size {
        margin-bottom: 2.25rem;
    }
    .color-link {
        width: 22px;
        height: 22px;
    }
    .size-link {
        padding: .375rem .625rem;
    }
    .details-action {
        margin-bottom: 2.75rem;
    }
     
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 740px;
    }

    .home-container,
    .deals-container,
    .checkout-container,
    .newsletter-container,
    .accounts-container,
    .cart-group {
        grid-template-columns: 1fr;
    }

    .cart-group {
        row-gap: 2.75rem;
    }

    .home-img {
        justify-self: center;
    }

    .btn {
        height: 45px;
        line-height: 45px;
    }

    .btn-md {
        height: 42px;
        line-height: 39px;
    }

    .btn-sm {
        height: 38px;
        line-height: 35px
    }

    .newsletter-description {
        display: none;
    }

    .products-container,
    .showcase-container,
    .footer-container,
    .details-container {
        grid-template-columns: repeat(2 , 1fr);
    }

    .login,
    .register {
        padding: 1.25rem;
    } 

    .table tr th:nth-child(1),
.table tr td:nth-child(1) {
    width: 140px;
}

.table tr th:nth-child(2),
.table tr td:nth-child(2) {
    width: 330px;
}

.table tr th:nth-child(3),
.table tr td:nth-child(3) {
    width: 80px;
}

.table tr th:nth-child(4),
.table tr td:nth-child(4) {
    width: 160px;
}

.table tr th:nth-child(5),
.table tr td:nth-child(5) {
    width: 160px;
}

.table tr th:nth-child(6),
.table tr td:nth-child(6) {
    width: 100px;
}
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .products-container,
    .showcase-container,
    .footer-container,
    .login-register-container,
    .details-container {
        grid-template-columns: 100%;
    }

    .tab-header,
    .tab-body {
        padding: .75rem;
    }

    .compare-table tr td {
        display: block;
    }
}

@media screen and (max-width: 576px) {
    .category-item {
        padding-bottom: 1rem;   
    }

    .category-img {
        margin-bottom: 1rem;
    }

    .deals-item,
    .checkout-group:nth-child(2) {
        padding: 1.25rem;
    }

    .pagination {
        column-gap: .5rem;
        margin-top: 2.5rem;
    }

    .pagination-link {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .placed-order-table th,
    .order-table tr th {
        display: none;
    }

    .placed-order-table tr td,
    .order-table tr td,
    .info-table tr th,
    .info-table tr td {
        display: block;
    }

    .form-group {
        grid-template-columns: 1fr;
    }

    .cart-total {
        padding: 1.25rem;
    }

    .payment-methods {
        margin-block: 2.25rem 2.5rem;
    }

    .detail-tabs {
        column-gap: 1.25rem;
        margin-bottom: 2.5rem;
    }

    .review-single {
        column-gap: 1rem;
    }

    .footer-title {
        margin-top: .25rem;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 350px) {
    .action-btn {
        width: 36px;
        height: 36px;
        line-height: 38px;
    }   

    .cart-btn {
        bottom: 1.4rem;
        right: 1.25rem;
    }

    .showcase-item {
        column-gap: 1rem;
    }

    .showcase-img {
        width: 70px;
    }

    .showcase-content {
        width: calc(100% - 86px);
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
    .compare-table tr th,
    .cart-total tr td {
        display: block;
        width: 100%;
    }
}